input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-shadow: 1px 1px 1px 1px #e83e8c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    resize: vertical;
  }
  
  input[type=submit] {
    box-shadow: 1px 1px 1px 1px #e83e8c;
    background-color: transparent;
    color: #e83e8c;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    transition: .5s;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #e83e8c;
    color: #fff;
    transition: .5s;
  }
  
  .contact-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px;
    padding: 20px; */
  }