.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container form{
    /* width: 400px; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.login-container form input{
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px #e83e8c;

}
.login-container form input:focus{
    outline: none;
    scale: 1.1 1.1;
    transition: .5s;
}
.login-container form [type=submit]{
    width: 100px;
    cursor: pointer;
    color: #e83e8c;
    border: 1px solid #e83e8c;
    background-color: transparent;
    transition: .5s;
}
.login-container form [type=submit]:hover{
    transition: .5s;
    background-color: #e83e8c;
    color: #fff;


}